<div class="moSocialNetworks">
  <h3>Síguenos en nuestras redes</h3>
  <ul>
    <li>
      <a href="https://www.instagram.com/cristiandavid077" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/cristian.anzola.35" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/crisdev2" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
