.moMenu {
  float: right;
  nav {
    background: transparent;
    box-shadow: none;
    height: 56px;
    ul {
      li {
        margin-left: 15px;
        a {
          font-size: 17px;
          font-weight: 100;
          line-height: normal;
          padding: 18px 5px;
          color: #fff;
          position: relative;
          &:hover {
            color: $primary-color;
            background: transparent;
            &::after {
              width: 90%;
              height: 3px;
              background: $primary-color;
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          &::after {
            content: " ";
            width: 10%;
            @include transition(width, 100ms);
          }
        }
      }
    }
  }
}
