.pagination {
  ul {
    text-align: center;
    li {
      a {
        background: $primary-color;
        color: #fff;
        border-radius: 2px;
        &:hover {
          background: darken($primary-color, 5%);
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
}
