<div class="orContactForm">
  <div class="container">
    <h2>Contáctanos</h2>
    <p>Envíanos un correo a <a href="mailto:da.anzola@gmail.com">da.anzola@gmail.com</a> o escríbenos a <a href="https://api.whatsapp.com/send?phone=573124109315&text=Hola!,%20me%20gustar%C3%ADa%20conocer%20m%C3%A1s%20para%20el%20desarrollo%20de%20un%20producto%20digital." target="_blank">+57 3124109315</a>.</p>
  </div>
</div>
