<div class="orOpening">
  <span class="opening-background"></span>
  <div class="opening-text">
    <h1>Desarrollamos software de alta calidad</h1>
    <p>Te ayudamos a impulsar tu negocio con productos de la mejor calidad.</p>
  </div>
</div>
