{% extends 'base.html.twig' %}

{% block title %}Bienvenu!{% endblock %}

{% block content %}

<div class="container">
  <div class="view-last-videos">
    <h2 class="block-title">Vídeos más recientes</h2>
    <div class="row">
    
  </div>
</div>

{% endblock %}
