<!DOCTYPE html>
<html class="language-en" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Test website of multimedia." />
  <title>{{ site.name}} - {{ site.slogan }}</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="/css/icons.css" rel="stylesheet" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/global.min.js"></script>
</head>

<body>

  {% include 'organism/_orHeader.twig' %}

  {% include 'organism/_orFooter.twig' %}

</body>

</html>
