<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
          <span class="icon icon-logo"></span>
        </a>
        <ul id="nav-mobile" class="right hide-on-small-only">
          <li>
            <div class="search-block">
              <form action="" class="search">
                <div class="input-field">
                  <input type="search" autocomplete="off" placeholder="Buscar">
                  <button type="submit" class="waves-effect waves-light btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </form>
            </div>
          </li>
          <li>
            <a href="/">Media</a>
          </li>
          <li>
            <a href="/test"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
