<ul id="slide-out" class="sidenav">
  <li>
    <form action="" class="search">
      <div class="input-field">
        <input class="search-box" type="search" autocomplete="off" placeholder="Buscar">
        <button type="submit" class="waves-effect waves-light btn"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </form>
  </li>
  <li><div class="divider"></div></li>
  <li>
    <a href="/">
      <i class="icon icon-video"></i>Vídeos
    </a>
  </li>
  <li>
    <a href="/youtubers">
      <i class="icon icon-youtubers"></i>Estrellas porno
    </a>
  </li>
</ul>
